
<div class="container">
	<div class="row">
		<div class="col-md-8">
			<p>Author:<br>{{quote.author}}</p>
			<p>Name:<br>{{quote.name}}</p>
		</div>
		<div class="col-md-4">
			<div class="row">
				
				<div class="col-md-6"><a href="" (click) = "voteUp()"><i class="fas fa-thumbs-up iconFont"></i></a>  ({{likes}})</div>
				<div class="col-md-6"><a href="" (click) = "voteDown()"><i class="fas fa-thumbs-down iconFont"></i></a> ({{disLikes}})</div>

			</div>
			<div class="row">
				<p class="col-md-12 top">
				<button class="btn btn-danger btn-block" (click) = 'quoteDelete(true)'> Delete Quote</button>
				</p>
			</div>
			
		</div>
	</div>
</div>
