<div class="container">
<div class="card">
  <div class="card-header">
    Angular Quote Application
  </div>
  <div class="card-body">
    
    
   
    <div class="row">
    	<div class="col-md-5">
    		<h5 class="card-title">Use the form below to add a new quote</h5>
    		<form class="card-text">
    			<div class="form-group">
	    			<label for="quote">Quote</label>
	    			<input class="form-control" type="text" placeholder="Quote" name="quote">

	    			<label for="quoteAuthor">Quote Author</label>
	    			<input class="form-control" type="text" placeholder="Quote Author" name="quoteAuthor">

	    			<label for="name">Your Name</label>
	    			<input class="form-control" type="text" placeholder="Your Name" name="name">
    			</div>
    		</form>
    		<a href="#" class="btn btn-success btn-block">Add Quote</a>
    	</div>
    	
    	<div class="col-md-7">
    		<h5 class="card-title">Here are all quotes</h5>
    		<div class="card-text">
    			<ul class="list-group">
				  <li class="list-group-item">Cras justo odio</li>
				  <li class="list-group-item">Dapibus ac facilisis in</li>
				  <li class="list-group-item">Morbi leo risus</li>
				  <li class="list-group-item">Porta ac consectetur ac</li>
				  <li class="list-group-item">Vestibulum at eros</li>
				</ul>
    		</div>
    		
    	</div>
    </div>
  </div>
</div>
</div>