<h5 class="card-title">Use the form below to add a new quote</h5>
    <form class="card-text">
    	<div class="form-group">
	    	<label for="quote">Quote</label>
	    	<input class="form-control" type="text" placeholder="Quote" name="quote">

	    	<label for="quoteAuthor">Quote Author</label>
	    	<input class="form-control" type="text" placeholder="Quote Author" name="quoteAuthor">

	    	<label for="name">Your Name</label>
	    	<input class="form-control" type="text" placeholder="Your Name" name="name">
    	</div>
    </form>
<a href="#" class="btn btn-success btn-block">Add Quote</a>